html, body, #root {
  height: 100%;
}

body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #160B35;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: block;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.carousel {
  height: 500px;
}


footer{
  position: fixed;
  width: 100%;
  margin-bottom: 0;

}
.roundlogo {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-login{
  background-color: transparent;
  border: none;
}

.register{
  max-width: 600px;
}